name: release
on:
  push:
    tags: [ "v*.[0-99]" ] # only a valid semver tag

jobs:    
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Unshallow clone
        run: git fetch --prune --unshallow
      - name: Install Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: '1.17.x'
      - name: Goreleaser publish
        uses: goreleaser/goreleaser-action@v1
        with:
          version: v1.12.1
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}

